h6 {
    text-transform: uppercase;
    color: #80b500;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
}

h1 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    color: #071c1f;
}

.text-darkgreen {
    color: #80b500;
}


.text-radh{
    font-family: 'Rajdhani', sans-serif;
   
}
h3 a {
    transition: color 0.3s ease;
}

h3 a:hover {
    color: #80b500;
}

.blog-card img {
    transition: transform 0.5s ease;
}

.blog-card:hover img {
    transform: scale(1.05);
}

.blog-section {
    position: relative;
}

/* /* .blog-section {
    position: relative;
    overflow: hidden;
} */

.blog-cards-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* .blog-section::before,
.blog-section::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background: #80b500;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} */

/* .blog-section::before {
    left: 0;
    transform: translateY(-50%);
}

.blog-section::after {
    right: 0;
    transform: translateY(-50%);
} */

.blog-section:hover::before,
.blog-section:hover::after {
    display: flex;
}

.image-position-size{
    max-width: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.image-wrapper{
    padding-bottom: 70.25%;
    position: relative;
    display: block;
    overflow: hidden;
}

/* .slider-button-left,
.slider-button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: darkgreen;
    color: #fff;
}

.slider-button-left {
    left: -60px;
}

.slider-button-right {
    right: -60px;
}

.slider-button-left i,
.slider-button-right i {
    font-size: 1.2rem;
} */

.darkgreen-bg{
    background-color: darkgreen !important;
}